::ng-deep .mat-mdc-tab-group {
  flex-direction: row !important;
  gap: 150px;
}
::ng-deep .mat-mdc-tab-labels {
  flex-direction: column !important;
}

::ng-deep
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: var(--font-color) !important;
  font-size: 18px !important;
}

::ng-deep
  .mat-mdc-tab:not(.mat-mdc-tab-disabled)
  .mdc-tab-indicator__content--underline {
  border-color: var(--primary-color) !important;
  position: relative;
  top: 0px;
  height: 50px;
  border-top: none;
  border-left: 2px solid;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: var(--grey) !important;
}

::ng-deep .mdc-tab__content {
  min-width: 215px;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  border-radius: 8px;
  box-shadow: var(--shadow) 0px 4px 10px;
}
.job-name {
  font-size: 16px;
  color: var(--primary-color);
}

.job-description {
  font-size: 18px;
  color: var(--grey);
  line-height: 28px;
}

.job-container {
  max-width: 40dvw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
}

.job-title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.job-title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title-section {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .title-section {
    font-size: 24px;
  }

  ::ng-deep .mat-mdc-tab-group {
    flex-direction: column !important;
    gap: 20px;
  }
  ::ng-deep .mat-mdc-tab-labels {
    flex-direction: row !important;
  }

  ::ng-deep .mdc-tab {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  ::ng-deep .mdc-tab__content {
    min-width: fit-content;
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    border-radius: 8px;
    box-shadow: none;
  }

  ::ng-deep
    .mat-mdc-tab:not(.mat-mdc-tab-disabled)
    .mdc-tab-indicator__content--underline {
    border-bottom: 2px solid !important;
    border-left: none !important;
    border-color: var(--primary-color) !important;
  }

  ::ng-deep
    .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
    .mdc-tab__text-label {
    font-size: 16px !important;
  }

  h1 {
    font-size: 18px;
  }

  .job-container {
    max-width: 100%;
  }

  .experience-date {
    font-size: 12px;
  }

  .job-description {
    font-size: 14px;
    text-align: justify;
  }
}
