<h2 class="title-section" data-aos="fade-down-right">EXPERIÊNCIA</h2>
<mat-tab-group data-aos="fade-right" id="experience">
  <mat-tab [label]="job.company" *ngFor="let job of jobsInfo; let i = index">
    <section class="job-container">
      <div class="job-title-container">
        <h1>
          {{ job.title }}
        </h1>
        <span>{{ job.date }}</span>
      </div>

      <span class="job-name">{{ job.company }}</span>
      <p class="job-description">
        {{ job.description }}
      </p>
    </section>
  </mat-tab>
</mat-tab-group>
