<section style="display: flex; width: 100%; gap: 200px">
  <img class="photo-profile" [src]="user.image" alt="" data-aos="fade-right" />
  <div style="height: fit-content" data-aos="fade-left">
    <h2 class="title">SOBRE MIM</h2>
    <h1 class="city">Dois Vizinhos, Brasil</h1>
    <p class="description">
      {{ user.description }}
    </p>
    <div class="container-profile-buttons">
      <button
        (click)="downloadPDF()"
        class="custom-border border-color-primary button-profiles"
      >
        <mat-icon svgIcon="cloud-download"></mat-icon>
        Currículo
      </button>
      <button
        (click)="emailTo()"
        class="custom-border border-color-secondary button-profiles"
      >
        <mat-icon svgIcon="email"></mat-icon>
        E-mail
      </button>
    </div>
  </div>
</section>
