<section id="home" style="display: flex; width: 100%; padding-top: 12vh">
  <div
    style="
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    "
  >
    <h1 class="animate__animated animate__fadeInTopLeft secondary-main-text">
      OLÁ, EU SOU
    </h1>
    <h3 class="animate__animated animate__fadeInLeft primary-main-text">
      {{ user.name }}
    </h3>
    <h1 class="animate__animated animate__fadeInBottomLeft secondary-main-text">
      DESENVOLVEDOR FULL-STACK
    </h1>

    <div class="container-profile-buttons animate__animated animate__fadeIn">
      <button
        (click)="redirect('linkedin')"
        class="custom-border border-color-primary button-profiles"
      >
        <mat-icon svgIcon="linkedin"></mat-icon>
        LinkedIn
      </button>
      <button
        (click)="redirect('github')"
        class="custom-border border-color-secondary button-profiles"
      >
        <mat-icon svgIcon="github"></mat-icon>
        GitHub
      </button>
    </div>
  </div>
  <div style="width: 50%">
    <img
      style="width: 170%; height: 100%; position: relative; right: 26%"
      src="../../../../assets/LooperBG.png"
      alt=""
    />
  </div>
</section>
<section
  style="display: flex; flex-direction: column; gap: 200px; padding-top: 5vh"
>
  <about-me [user]="user"></about-me>
  <experience-info></experience-info>
  <repositorys-info [repositorys]="repositorys"></repositorys-info>
</section>
