.primary-main-text {
  font-weight: 600;
  font-size: 58px;
  line-height: normal;
  color: var(--primary-color);
  white-space: nowrap;
}

.secondary-main-text {
  font-weight: 600;
  font-size: 28px;
}

p {
  color: var(--grey);
}

.photo-profile {
  padding-left: 50px;
  width: fit-content;
  height: 300px;
  border-left: 3px solid #00d2df;
  border-radius: 4px 0 4px 0;
}

.main-section {
  padding: 15dvh 15dvw 0;
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .main-section {
    padding: 15dvh 5.56vw;
  }
}

.greeting-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary-section {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 5dvh 15dvw 0;
}

@media (max-width: 768px) {
  .main-section {
    padding: 200px 5.56vw;
  }

  .greeting-container {
    width: 100%;
  }

  .secondary-main-text {
    font-size: 16px;
  }

  .primary-main-text {
    font-size: 26px;
  }

  .secondary-section {
    padding-top: 220px;
    gap: 100px;
  }
}
