.footer-container {
  background-color: #121212;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #c4c4c4;
}

.powered {
  white-space: nowrap;
  width: fit-content;
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    height: 50px;
  }

  span {
    font-size: 10px;
  }
}
